* {
  box-sizing: border-box;
}

/* common */
.contain {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

:root {
  --primary-color: #0f1b4c;
}

.btn {
  display: inline-block;
  min-width: 98px;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 18px 16px;
  text-align: center;
  border-radius: 12px;
  color: #fff;
  background-color: var(--primary-color);
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

/* =========== Header ========== */

.header-fixed {
  position: sticky;
  top: -26px;
  background: #e6f0ff;
  padding-top: 26px;
  z-index: 1;
}

.navbar {
  display: flex;
  padding: 12px 0;
  align-items: center;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.action {
  margin-left: auto;
}

.navbar ul li a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.navbar .action-btn:hover {
  opacity: 0.9;
}

.action-link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1.4rem;
}

/* ========== Hero ============= */

.hero-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e6f0ff;
  height: calc(100vh - 90px);
}

.hero-wrap .info {
  width: 51%;
}

.hero-wrap .sub-title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}

.hero-wrap .title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.19;
  color: #000336;
}

.hero-wrap .desc {
  margin-top: 30px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #5a6473;
}

.hero-wrap-cta {
  min-width: 170px;
  margin-top: 50px;
}

.hero-wrap-link {
  color: #fff;
}

.hero-wrap-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* ========== Clients ============ */

.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  color: #7d8589;
}

.clients .row-desc {
  margin-top: 27px;
}

.clients .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.clients .images a {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 42px;
  border-radius: 12px;
}

.clients .images a:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/* ====== Guides ====== */

.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
}

.guides .sub-title {
  position: relative;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  text-align: center;
  color: #000339;
}

.guides .sub-title::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.guides .desc {
  width: 459px;
  max-width: 100%;
  margin: 20px auto 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  text-align: center;
  color: #5a6473;
}

.list-guides {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.guides-item {
  margin: 0 70px;
  text-align: center;
}

.guides-item .title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
  color: #3b3c45;
}

.guides-item .link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #0689ff;
}

.guides-item .arrow {
  margin-left: 6px;
}

.guides-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guides-cta .btn {
  min-width: 170px;
}

/* ==========  featured ============ */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-tittle {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1;
  color: #000339;
}

.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  align-items: center;
}

.featured .desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #5a6473;
}

.featured .link {
  font-weight: 600;
  font-size: 1.8rem;
  color: #0689ff;
}

.featured .link .arrow {
  margin-left: 8px;
  position: relative;
  top: -2px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 74px;
}

.featured .list .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
}

.featured .item .item-img {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.featured .body {
  padding: 17px 20px 24px;
}

.featured .item .body-title a {
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #000339;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.featured .item .body-desc {
  margin-top: 11px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #a3a6ab;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.featured .item .body-info {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.featured .item .info-icon {
  margin-left: 23px;
}

.featured .item .info-icon:first-child {
  margin-left: 0;
}

.featured .item .info-label {
  margin-left: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.01em;
  color: #4d4d52;
}

/* ========= Stats =========== */

.stats {
  margin-top: 75px;
  padding: 50px 0;
}

.stats .row {
  display: flex;
}

.stats .contain {
  width: 1048px;
}

.stats .img-block,
.stats .info {
  width: 50%;
}

.stats .img-block {
  position: relative;
}

.stats .img-block .block-img-stats {
  display: block;
  margin-left: auto;
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
}

.stats .info {
  padding: 79px 0 0 165px;
}

.stats .info .sub-title {
  position: relative;
  width: 269px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.29;
  color: #000339;
}

.stats .info .sub-title::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  display: block;
  width: 41px;
  height: 4px;
  background: #000339;
  border-radius: 12px;
}

.stats .info .desc {
  width: 309px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #5a6473;
}

.stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0px 0px 12px 12px;
  background-color: #fff;
}

.stats-trend .row .icon {
  margin-left: auto;
}

.stats-trend .row .value {
  font-weight: 700;
  font-size: 2.6rem;
  letter-spacing: 0.01em;
  color: #000339;
}

.stats-trend .desc {
  margin-top: 8px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #a7a7a7;
}

.stats-trend .separate {
  height: 1.2px;
  margin-top: 25px;
  background: #e9e9e9;
}

.stats-trend .avatar-block {
  display: flex;
  margin-top: 27px;
  gap: 16px 14px;
  flex-wrap: wrap;
}

.stats-trend .avatar-group {
  display: flex;
}

.stats-trend .avatar-group:first-child {
  margin-left: 0;
}

.stats-trend .avatar {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: var(--bg-color, green);
  font-weight: 450;
  font-size: 0.7rem;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: -3px;
  object-fit: cover;
}

.stats-trend .avatar:first-child {
  margin-left: 0;
}

.stats .row-qty {
  justify-content: space-between;
  margin-top: 110px;
  padding: 0 32px;
}

.stats .row-qty .qty {
  font-weight: 600;
  font-size: 6.4rem;
  color: #000000;
}

.stats .row-qty .qty-desc {
  margin-top: 24px;
  font-weight: 500;
  font-size: 1.8rem;
  color: #7b8087;
}

/* ========  subscription  ============ */

.subscription {
  margin-top: 90px;
}

.subscription .body {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #063183;
  height: 370px;
  border-radius: 20px;
}

.subscription .info {
  padding: 0 80px;
}

.subscription .sub-title {
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #ffffff;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subscription .desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #ffffff;
  opacity: 0.75;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subscription .btn {
  min-width: 151px;
  margin-top: 20px;
  background-color: #fff;
  color: #002366;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* ============ Footer ============ */

.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}

.footer .row-top {
  display: flex;
  column-gap: 185px;
}

.footer .column .list,
.footer .column .desc {
  margin-top: 45px;
}

.footer .column .heading {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #1c1c1d;
}

.footer .list .item {
  margin-top: 20px;
}

.footer .list .item a:hover {
  text-decoration: underline;
}

.footer .item a,
.footer .column .desc {
  font-weight: 400;
  font-size: 1.6rem;
  color: #7a7a7e;
  white-space: nowrap;
}

.footer .column .desc {
  white-space: normal;
  line-height: 1.75;
}

.footer .social {
  display: flex;
  margin-top: 45px;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background: #f9f9f9;
}

.footer .social-link:hover {
  background-color: #ebebeb;
}

.footer .social-link + .social-link {
  margin-left: 16px;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  margin-top: 85px;
}

.footer .row-bottom .copyright {
  margin-left: auto;
  font-weight: 400;
  font-size: 1.4rem;
  color: #c2c2c2;
}
